<body>
  <section class="title">
    <h1>TITLE: {{blogPost.title}} </h1>
    <section class="next">
      <h2>BY: {{blogPost.user.name}}<h2>
	  <br></br>
	  <a href="mailto:{{user.email}}">{{blogPost.user.email}}</a>
	  <section class="content">
	    <p> {{blogPost.body}}</p>
	  </section>
    </section>
  </section>
</body>

