

<body>
<section class="title">
    <h1><i class="bi bi-journal-text"></i> {{title}} </h1>
    <section class="next">
      <h2><i class="bi bi-person-circle"></i> {{user.name}} <a href="mailto:{{user.email}}">{{user.email}}</a><h2>
	  <button id="edit" name="edit"><i class="bi bi-pen"></i> Edit</button>
	  <section class="content">
	    <p> {{body}}</p>
	  </section>
    </section>
  </section>
  <section class="comment-box d-flex flex-column">
    <label for="comment-box">Comment on this post here:</label>
    <textarea id="comment-box" name="comment" rows="5">
      Comment here....
    </textarea>
    <button id="comment-submit" style="width: 50%;" type="button"> Comment</button>
  </section>
  {{#if comments}}
  {{#each comments as |comment|}}
  <section class="card" style="width: 100%;">
    <section class="card-body">
	<h3 class="card-title">USER: {{comment.user.name}}</h3>
      <p class="card-subtitle text-muted card-text">{{comment.comment}}</p>
    </section>
  </section>  
  {{/each}}
  {{/if}}
</body>
<script src="/js/blogPost.js"></script>

