<body>
  <section class="title">
    <h1><i class="bi bi-journal-text"></i> {{blogPost.title}} </h1>
    <section class="next">
      <h2><i class="bi bi-person-circle"></i> {{blogPost.user.name}} <a href="mailto:{{user.email}}">{{blogPost.user.email}}</a><h2>
	  
	  <section class="content">
	    <p> {{blogPost.body}}</p>
	  </section>
    </section>
  </section>
  {{#if blogPost.comments}}
  {{#each blogPost.comments as |comment|}}
  <section class="card" style="width: 100%;">
    <section class="card-body">
      <a href="/blogpost/{{id}}">
	<h3 class="card-title">{{comment.user.name}}</h3>
	</a>
      <p class="card-text">{{comment.comment}}</p>
    </section>
  </section>  
  {{/each}}
  {{/if}}

</body>

