<!-- going to havet this display the list of blog posts -->

<!--set up a list for teh blog posts -->

{{#each blogPosts as |post|}}
  <section class="card" style="width: 100%;">
    <section class="card-body">
      <a href="/blogpost/{{id}}">
	<h3 class="card-title">{{title}}</h3>
	</a>
      <h5 class="card-subtitle text-muted">
      {{user.name}} - {{format_date date_created}}
      </h5>
      <p class="card-text">{{post_preview body}}</p>
    </section>
  </section>
{{/each}}
