
<body>
  <section class="top d-flex justify-center">
    <h1 data-id="{{user.id}}" id="user-id">{{user.name}}</h1>
  </section>
  <section>
    <h2>Add new blog post</h2>
    <section class="d-flex flex-column">
	     <textarea id="blogTitle" name="title" rows="2" class="m-1"> Title</textarea>
	     <textarea id="blogPost" name="blogpost" rows="10">Blog post</textarea>
	     <button id="newBlogPost" class="btn btn-secondary"  type="submit">create</button>
  </section>
    </section>
  {{#if user.blogPosts }}
  {{#each user.blogPosts as |blogPost|}}
  <section class="card mt-2 mb-2" style="width: 100%;">
    <section class="card-body">
      <a href="/blogpost/{{id}}">
	<h3 class="card-title">{{blogPost.title}}</h3>
      </a>
      <h5 class="card-subtitle text-muted">
	{{format_date blogPost.date_created}}
      </h5>
      <p class="card-text">{{post_preview blogPost.body}}</p>
    </section>
    <section class="card-footer">
      <button data-id="{{id}}"id="deletePost" clas="btn btn-warning" type="button" id="deletePost" style="color:red;"> DELETE</button>
      <a href="/blogpost/{{id}}/edit" id="editPost" clas="btn btn-warning border" id="editPost" style="color:red;"> EDIT</button>
    </section>
  </section>
  {{/each}}
  {{/if}}

  <script src="/js/profile.js"></script>
</body>
